@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90vw;
  max-width: 1172px;
  margin: 0 auto;
}
/* nav */
.nav-center {
  display: flex;
  justify-content: space-between;
}
nav {
  padding: 1rem 0;
}
li {
  list-style-type: none;
}
.nav-toggle {
  cursor: pointer;
}
nav a {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  text-decoration: none;
  display: block;
  line-height: 1.75rem;
  color: black;
}
.nav-links {
  height: 0;
  overflow: hidden;
}
.show-link {
  height: auto;
}
/* end of nav */

/* content */
.content {
  margin-top: 2rem;
}
.content h1 {
  width: 40%;
  text-transform: capitalize;
  margin: 1rem auto;
  text-align: center;
  font-size: 2.25rem;
}
.content > p {
  font-size: 18px;
  line-height: 1.55rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.offer {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.offer p {
  font-size: 18px;
}
/* switch toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.change {
}
.choosen {
  font-weight: 700;
}

/* end of switch toggle */
/* plans */
.long {
  font-size: 16px;
  color: #d3d3d3;
  font-weight: normal;
}
.line {
  width: 90%;
  background-color: #d3d3d3;
  height: 1px;
  margin: 2rem auto;
  margin-bottom: 1.75rem;
}

.btn {
  background-color: #231955;
  color: white;
  text-transform: capitalize;
  padding: 1rem;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 1.25px;
  display: block;
  width: 85%;
  /* max-width: 500px; */
  cursor: pointer;
  margin-top: 1rem;
}

.plan {
  border: 1px solid #d3d3d3;
  padding: 2rem;
  border-radius: 5px;
  width: 80vw;
  max-width: 500px;
  margin: 2rem auto;
}
.plan-container {
  width: 80%;
  margin: 0 auto;
}
.plan h2 {
  margin-bottom: 1rem;
  margin-left: 0.75rem;
}
.plan > p {
  font-size: 18px;
  width: 85%;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}
.feature {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.feature p {
  font-size: 18px;
  text-transform: capitalize;
}
.plan {
  box-shadow: 0 2px 3px 0 rgba(20, 20, 20, 0.1);
}

/* end of plans */
/* end of content */

/* tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
    gap: 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  .content h1 {
    width: 100%;
  }
  .plan {
    width: 45%;
    max-width: 800px;
  }
  .plan:nth-child(3) {
    width: 100%;
  }
  .plan:nth-child(3) .btn {
    max-width: 700px;
    width: 100%;
  }
  .plans {
    display: flex;
    flex-wrap: wrap;
  }
  .feature p {
    width: 100%;
  }
  .plan p {
    width: 100%;
  }
  .plan .btn {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .content h1 {
    width: 100%;
  }
  .content p {
    width: 650px;
    font-size: 18px;
    text-align: left;
  }
  .plan {
    width: 30%;
    max-width: 450px;
  }

  .plans {
    display: flex;
    gap: 10px;
  }
  .plan:nth-child(1) {
    height: 420px;
  }
  .plan:nth-child(3) {
    height: 370px;
  }
  .offer {
    width: 350px;
  }
  .feature p {
    width: 100%;
  }
  .plan p {
    width: 100%;
  }
  .plan .btn {
    margin-top: 2rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
    gap: 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
