@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.container {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}

/* nav */
.header {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  cursor: pointer;
}
nav a {
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
  display: block;
  margin: 0.5rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: auto;
}
/* end of nav */

/* content */
.content h1 {
  width: 65%;
  color: #231955;
}
.content p {
  font-size: 19px;
  margin: 1rem 0;

  line-height: 1.5rem;
}
.btn {
  background-color: #231955;
  color: white;
  text-transform: capitalize;
  padding: 1rem;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 1.25px;
  display: block;
  max-width: 230px;
}
.demo {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
  display: block;
}
.offers {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pub {
  display: flex;
  gap: 1rem;
}
.shield {
  margin-top: -1.25rem;
}
/* end of content */
/* view 2 */
.view2 {
  background-color: #31e1f7;
  position: relative;
}
.view2 .btn {
  position: absolute;
  top: 1.25rem;

  display: none;
}
.view2 img {
  width: 100%;
  height: auto;
}
.view2 .container {
  padding: 2rem 0;
}
/* end of view2 */

/* flex2 */
.flex2 {
  margin-top: 3rem;
}
.people img {
  width: 52px;
}
.people {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.flex2 h1 {
  width: 80%;
}
.view4 p {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}
/* end of flex2 */

/* flex3 */
.flex3 {
  background-color: rgba(141, 216, 204, 0.45);
  margin-top: 4rem;
}
.view5 {
  padding: 2rem 1rem;
}
.flex3 h3 {
  color: #2192ff;
  margin-bottom: 1rem;
}
.flex3 h1 {
  color: #404258;
  margin-bottom: 1rem;
  width: 70%;
}
.flex3 p {
  font-size: 18px;
  line-height: 1.35rem;
  width: 85%;
}
.view5 .btn {
  margin-top: 1rem;
}
.view6 {
  padding: 2rem 1rem;
}
.view6 .demo {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: -1.25rem;
}
/* end of flex3 */

/* media queries */

/* tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .view1 {
    width: 40%;
    margin-left: 2rem;
  }

  .content {
    margin-top: 2rem;
  }
  .flex1 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .view2 {
    overflow: hidden;
    width: 60%;
    /* max-width: 50%; */
    height: auto;
    position: relative;
  }
  .view2 img {
    width: 90%;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
  }
  .view2 .btn {
    display: block;
    font-size: 16px;
    width: 180px;
    position: absolute;
    right: 5rem;
  }
  .offers {
    flex-direction: column;
    gap: 2rem;
  }
  .offers .demo {
    margin-left: -5rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* flex2 */
  .view3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1162px;
  }
  .view3 h1 {
    width: 90%;
  }
  .view4 p {
    width: 80%;
    font-size: 19px;
  }
  /* end of flex 2 */
  /* flex3 */
  .flex3 p {
    width: 100%;
  }
  /* end of flex3 */
}
/* big screen view */
@media screen and (min-width: 1025px) {
  .flex1 {
    display: flex;
    justify-content: space-between;
  }
  .view1 {
    width: 50%;
    max-width: 500px;
  }
  .view1 h1 {
    font-size: 2.85rem;
    width: 100%;
  }
  .view1 p {
    font-size: 20px;
  }
  .content {
    margin-top: 5rem;
  }
  .view2 {
    overflow: hidden;
    width: 60%;
    height: auto;
    position: relative;
  }
  .view2 img {
    width: 90%;
    max-width: 800px;
    height: auto;
    padding-left: 3rem;
    padding-top: 4rem;
    display: block;
    margin-top: 2rem;
  }

  .view2 .btn {
    display: block;
    width: 210px;
    font-size: 20px;
    position: absolute;
    right: 10rem;
  }

  .offers {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin-left: -2.1rem;
  }

  .nav-toggle {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  nav {
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  .view2 {
    max-width: 800px;
  }
  /* flex2 */
  .view3 {
    flex-direction: column;
    width: 100%;
  }
  .view3 h1 {
    width: 100%;
    max-width: 500px;
  }
  .flex2 {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
  }
  .view4 {
    width: 100%;
  }
  .view4 p {
    width: 100%;
    font-size: 20px;
    margin: 1rem 0;
  }
  .people {
    gap: 0.75rem;
  }
  /* end of flex2 */
  /* flex3 */
  .flex3 .container {
    display: flex;
    justify-content: space-between;
  }
  /* end of flex3 */
}

/* end of media queries */
